header, footer {
    background-color: black;
    color: white;
}

nav {
    background-color: blue;
}

table, tr, td {
    border: 1px solid black;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 2%;
    height: 70px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 33%;
    align-items: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}